{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title> {{ poke_team.pokemon_trainer }}'s Pokémon Team</title>
{% endblock %}


{% block content %}
<p>
    {{ poke_team.pokemon_trainer }}
</p>
<p>
    {{ poke_team.pokemon_1 }}
</p>
<p>
    {{ poke_team.pokemon_2 }}
</p>
<p>
    {{ poke_team.pokemon_3 }}
</p>
<p>
    {{ poke_team.pokemon_4 }}
</p>
<p>
    {{ poke_team.pokemon_5 }}
</p>
<p>
    {{ poke_team.pokemon_6 }}
</p>
<p>
    <a href="{% url 'auth-logout' %}">Logout</a>
</p>
<p>
    <a href="{% url 'delete-pokemon-team' poke_team.pokemon_trainer.id %}">Throw Away Your Pokémons</a>
</p>
{% endblock %}