{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Faça seu login ou cadastre-se</title>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'auth-login' %}">
        {% csrf_token %}
        <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        </p>
        <p>
        {{ form.password.label_tag }}
        {{ form.password }}
        </p>
        <input type="submit" value="Fazer Login">
        <a href="#" data-toggle="modal" data-target="#NewUser">
            <button type="submit" class="btn btn-sm btn-primary mb-2">Fazer Cadastro</button>
        </a>
    </form>
{% include "modals/new_user.html" %}
{% endblock %}
